<h1 class="text-center animated fadeIn faster">Bienvenido a Naqui Empleados</h1>
<table class="table animated fadeIn fast" border="0">
    <tr>
        <th class="text-center" scope="col">
            <h2>Citas</h2>
        </th>
        <th class="text-center" scope="col">
            <h2>Conferencias</h2>
        </th>
    </tr>
    <tr>
        <td class="text-center">
            <button class="btn btn-light" [routerLink]="['/citas']">
                <img src="/assets/images/doctor-call-hospital-icon.png" width="240" height="160">
            </button>
        </td>
        <td class="text-center">
            <button class="btn btn-light" [routerLink]="['/conferencias']">
                <img src="/assets/images/training-icon.png" width="240" height="160">
            </button>
        </td>
    </tr>
    <tr>
        <th class="text-center" scope="col">
            <h2>Usuarios</h2>
        </th>
        <th class="text-center" scope="col">
            <h2>Obtener Usuarios</h2>
        </th>
    </tr>
    <tr>
        <td class="text-center">
            <button class="btn btn-light" [routerLink]="['/usuarios']">
                <img src="/assets/images/team-icon.png" width="240" height="160">
            </button>
        </td>
        <td class="text-center">
            <button class="btn btn-light" [routerLink]="['/obtener-usuarios']">
                <img src="/assets/images/company-enterprise-icon.png" width="240" height="160">
            </button>
        </td>
    </tr>
</table>