<h1 class="text-center animated fadeIn faster">Bienvenido a Naqui Empleados</h1>
<table class="table animated fadeIn fast" border="0">
    <tr>
        <th class="text-center" scope="col">
            <h2>Empresas</h2>
        </th>
        <th class="text-center" scope="col">
            <h2>Socios</h2>
        </th>
    </tr>
    <tr>
        <td class="text-center">
            <button class="btn btn-light" [routerLink]="['/empresas']">
                <img src="/assets/images/company-enterprise-icon.png" width="240" height="160">
            </button>
        </td>
        <td class="text-center">
            <button class="btn btn-light" [routerLink]="['/empleados']">
                <img src="/assets/images/team-icon.png" width="240" height="160">
            </button>
        </td>
    </tr>
    <tr>
        <th class="text-center" scope="col">
            <h2>Empresas</h2>
        </th>
        <th class="text-center" scope="col">
            <h2>Socios</h2>
        </th>
    </tr>
    <tr>
        <td class="text-center">
            <button class="btn btn-light" [routerLink]="['/empresas']">
                <img src="/assets/images/company-enterprise-icon.png" width="240" height="160">
            </button>
        </td>
        <td class="text-center">
            <button class="btn btn-light" [routerLink]="['/empleados']">
                <img src="/assets/images/team-icon.png" width="240" height="160">
            </button>
        </td>
    </tr>
</table>